#sideNav {
  background-color: $system-blue;
  height: calc(100% + 112px);
  .title {
    height: 64px;
    background-color: $system-deepBlue;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
    color: $text-color-0;
  }
  ul {
    padding: 0;
	li {
		&:hover, &.active {
			background-color: $system-lightBlue;
		}

		.sideNav_link {
		  display: block;
		  padding: 20px;
		  color: $text-color-0;
		  text-decoration: none;
		}
	}
  }
}
