#sideNav {
  background-color: #0059be;
  height: calc(100% + 112px);
  .title {
    height: 64px;
    background-color: #004490;
    text-align: center;
    line-height: 64px;
	font-size: 24px;
	color: #fff;
  }
}
