/**
Illustrator colors
*/
$illustrator-blue-100: #0059BE;
$illustrator-blue-80: #337ACB;
$illustrator-blue-50: #80ACDF;
$illustrator-blue-20: #CCDAE9;
$illustrator-blue-10: #E5EEF9;
$illustrator-blue-8: #F7F9FC;

/**
System colors
*/
$system-blue: #0059BE;
$system-lightBlue: #0077FF;
$system-deepBlue: #004490;
$system-dDeepBlue: #002E62;

$system-green: #06BDC9;
$system-lightGreen: #0FC7D3;
$system-deepGreen: #06969F;
$system-dDeepGreen: #098B93;

/**
Status colors
*/
$status-closed: #E8E8E8;
$status-progressing: #20B21D;
$status-pending: #FFB800;
$status-unread: #EB5757;

/**
Text/Icon colors
*/
$text-color-100: #001A36;
$text-color-80: #33485E;
$text-color-60: #667686;
$text-color-40: #99A3AF;
$text-color-30: #B3BAC3;
$text-color-20: #CCD1D7;
$text-color-10: #E5E8EB;
$text-color-5: #F2F4F5;
$text-color-0: #fff;